In [51]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, max_error, r2_score

In [52]:
import pandas as pd
import numpy as np
import math

## Valle calculate elevation for ASV

In [3]:
#FILE NAME RENAMED WRONG, IT IS ACTUALLY ASV!!!!
valle_asv = pd.read_csv('../data/output/Valle_ALS_validaatiopisteet_vertailuun_siivottu_2.csv', delimiter=';')

In [4]:
valle_asv

,PointNo,Elevation_orthometricH,Latitude,Longitude,Height_ellipsoidalH,ASV_depth,Geoid_h,Water_lvl,ASV_ElevationH,Validation_depth,ASV_Height_ellipsoidalH
0,valle14,64.832,69.925991,27.001370,89.137092,-1.168000,24.52,64.41,63.242000,-1.590000,87.762000
1,valle12,64.710,69.926008,27.001523,89.015000,-1.238200,24.52,64.41,63.171800,-1.538200,87.691800
2,valle26,64.875,69.925940,27.001467,89.180286,-0.908000,24.52,64.41,63.502000,-1.373000,88.022000
3,valle17,65.037,69.926075,27.001217,89.342939,-0.082000,24.52,64.41,64.328000,-0.709000,88.848000
4,valle15,64.981,69.925987,27.001334,89.286498,-1.155102,24.52,64.41,63.254898,-1.726102,87.774898

In [12]:
valle_asv['PointLocation_Elevation'] = 66.016000

In [13]:
valle_asv

,PointNo,Elevation_orthometricH,Latitude,Longitude,Height_ellipsoidalH,ASV_depth,Geoid_h,Water_lvl,ASV_ElevationH,Validation_depth,ASV_Height_ellipsoidalH,PointLocation_Elevation
0,valle14,64.832,69.925991,27.001370,89.137092,-1.168000,24.52,64.41,63.242000,-1.590000,87.762000,66.016
1,valle12,64.710,69.926008,27.001523,89.015000,-1.238200,24.52,64.41,63.171800,-1.538200,87.691800,66.016
2,valle26,64.875,69.925940,27.001467,89.180286,-0.908000,24.52,64.41,63.502000,-1.373000,88.022000,66.016
3,valle17,65.037,69.926075,27.001217,89.342939,-0.082000,24.52,64.41,64.328000,-0.709000,88.848000,66.016
4,valle15,64.981,69.925987,27.001334,89.286498,-1.155102,24.52,64.41,63.254898,-1.726102,87.774898,66.016

In [16]:
valle_asv = valle_asv.drop(columns=['Geoid_h', 'Water_lvl', 'ASV_ElevationH', 'ASV_Height_ellipsoidalH', 'Validation_depth'])

In [17]:
valle_asv

,PointNo,Elevation_orthometricH,Latitude,Longitude,Height_ellipsoidalH,ASV_depth,PointLocation_Elevation
0,valle14,64.832,69.925991,27.001370,89.137092,-1.168000,66.016
1,valle12,64.710,69.926008,27.001523,89.015000,-1.238200,66.016
2,valle26,64.875,69.925940,27.001467,89.180286,-0.908000,66.016
3,valle17,65.037,69.926075,27.001217,89.342939,-0.082000,66.016
4,valle15,64.981,69.925987,27.001334,89.286498,-1.155102,66.016

In [18]:
valle_asv['ASV_Elevation'] = valle_asv['PointLocation_Elevation'] + valle_asv['ASV_depth']

In [19]:
valle_asv

,PointNo,Elevation_orthometricH,Latitude,Longitude,Height_ellipsoidalH,ASV_depth,PointLocation_Elevation,ASV_Elevation
0,valle14,64.832,69.925991,27.001370,89.137092,-1.168000,66.016,64.848000
1,valle12,64.710,69.926008,27.001523,89.015000,-1.238200,66.016,64.777800
2,valle26,64.875,69.925940,27.001467,89.180286,-0.908000,66.016,65.108000
3,valle17,65.037,69.926075,27.001217,89.342939,-0.082000,66.016,65.934000
4,valle15,64.981,69.925987,27.001334,89.286498,-1.155102,66.016,64.860898

In [20]:
valle_asv = valle_asv.rename(columns={"Elevation_orthometricH": "Validation_Elevation", "Height_ellipsoidalH": "Height"})

In [21]:
valle_asv

,PointNo,Validation_Elevation,Latitude,Longitude,Height,ASV_depth,PointLocation_Elevation,ASV_Elevation
0,valle14,64.832,69.925991,27.001370,89.137092,-1.168000,66.016,64.848000
1,valle12,64.710,69.926008,27.001523,89.015000,-1.238200,66.016,64.777800
2,valle26,64.875,69.925940,27.001467,89.180286,-0.908000,66.016,65.108000
3,valle17,65.037,69.926075,27.001217,89.342939,-0.082000,66.016,65.934000
4,valle15,64.981,69.925987,27.001334,89.286498,-1.155102,66.016,64.860898

## Compute RMSE, MAE and MAXE, R2

In [22]:
asv_actual = valle_asv['Validation_Elevation'].values.tolist()

In [23]:
asv_predicted = valle_asv['ASV_Elevation'].values.tolist()

In [24]:
MSE = mean_squared_error(asv_actual, asv_predicted)
 
RMSE = math.sqrt(MSE)
print("Root Mean Square Error:\n")
print(RMSE)

Root Mean Square Error:

0.4190883752067666

In [31]:
MAE = mean_absolute_error(asv_actual, asv_predicted)

print("Mean Absolute Error:\n")
print(MAE)

Mean Absolute Error:

0.2667803531999994

In [30]:
# Compute max_error
MAXE = max_error(asv_actual, asv_predicted)

print("Maximum residual Error:\n")
print(MAXE)

Maximum residual Error:

0.8970000159999927

In [55]:
# Compute r2
R2 = r2_score(asv_actual, asv_predicted)

print("Coefficient of determination regression score:\n")
print(R2)

Coefficient of determination regression score:

-12.339237038113863

## Nuorgam calculate Elevations from ALS

In [36]:
nuorgam_als = pd.read_csv('../data/output/nuorgam_ALS_vertailutaulukko_2.csv', delimiter=',')

In [37]:
nuorgam_als

,PointNo,Northing,Easting,Elevation,Latitude,Longitude,Height,Horizontal,VerticalSt,PDOP,...,StartGPSwe,StartGPSse,EndGPSweek,EndGPSseco,SAMPLE_1,SAMPLE_2,SAMPLE_3,SAMPLE_4,SAMPLE_5,SAMPLE_6
0,nuorgamchool21,7775281.244,532924.162,13.901,70.082266,27.865977,36.712001,0.006,0.012,1.2,...,2266,573679,2266,573682,13.96,14.50,14.104783,14.091717,23,0.138120
1,nuorgamchool20,7775286.658,532928.271,13.251,70.082314,27.866088,36.062210,0.006,0.012,1.3,...,2266,573660,2266,573662,13.26,13.47,13.332273,13.329917,22,0.051780
2,nuorgamchool23,7775299.913,532924.426,12.666,70.082434,27.865991,35.476537,0.006,0.013,1.2,...,2266,573748,2266,573751,12.50,12.62,12.557500,12.551521,20,0.034040
3,nuorgamchool22,7775289.511,532919.718,12.776,70.082341,27.865864,35.587464,0.006,0.012,1.2,...,2266,573707,2266,573709,12.54,12.82,12.696818,12.702224,22,0.073199
4,nuorgamchool17,7775301.575,532933.338,12.357,70.082448,27.866226,35.167106,0.006,0.012,1.2,...,2266,573580,2266,573583,11.84,12.40,12.116111,12.126546,18,0.163814
5,nuorgamchool16,7775301.048,532932.769,12.697,70.082443,27.866211,35.507415,0.006,0.012,1.2,...,2266,573552,2266,573554,12.15,12.73,12.482000,12.520504,20,0.166751
6,nuorgamchool19,7775291.658,532925.799,12.924,70.082360,27.866024,35.734533,0.006,0.012,1.2,...,2266,573642,2266,573644,12.83,12.98,12.906500,12.905171,20,0.041985
7,nuorgamchool18,7775298.075,532927.587,12.819,70.082417,27.866074,35.629620,0.006,0.012,1.2,...,2266,573615,2266,573617,12.70,12.87,12.790526,12.784147,19,0.041735
8,nuorgamchool29,7775303.736,532912.684,12.427,70.082470,27.865684,35.238141,0.006,0.013,1.2,...,2266,573979,2266,573982,12.17,12.38,12.276000,12.272080,20,0.057741
9,nuorgamchool28,7775301.989,532918.210,12.658,70.082453,27.865829,35.468974,0.006,0.013,1.2,...,2266,573949,2266,573951,12.46,12.61,12.540000,12.537677,20,0.035637
10,nuorgamchool31,7775294.162,532912.538,12.562,70.082384,27.865677,35.373808,0.006,0.013,1.2,...,2266,574056,2266,574058,12.39,12.53,12.467647,12.469091,17,0.040370
11,nuorgamchool30,7775302.603,532907.726,12.445,70.082460,27.865553,35.256295,0.006,0.013,1.2,...,2266,574018,2266,574020,12.18,12.36,12.284444,12.282815,18,0.052728
12,nuorgamchool25,7775306.213,532928.601,12.311,70.082490,27.866104,35.121243,0.006,0.012,1.3,...,2266,573808,2266,573811,12.02,12.26,12.100526,12.095886,19,0.058891
13,nuorgamchool24,7775304.364,532926.276,12.490,70.082473,27.866042,35.300374,0.006,0.013,1.2,...,2266,573777,2266,573779,12.26,12.42,12.354444,12.361678,18,0.040719
14,nuorgamchool27,7775301.180,532934.063,12.249,70.082444,27.866245,35.059835,0.006,0.013,1.2,...,2266,573882,2266,573884,11.68,12.23,11.971579,11.976177,19,0.156248
15,nuorgamchool26,7775306.435,532929.901,12.181,70.082492,27.866138,34.991624,0.006,0.012,1.3,...,2266,573833,2266,573836,11.71,12.24,11.940476,11.949708,21,0.161348
16,nuorgamchool5,7775297.442,532950.578,13.394,70.082408,27.866678,36.204099,0.005,0.011,1.3,...,2266,573277,2266,573279,13.34,13.57,13.443333,13.440776,18,0.063857
17,nuorgamchool4,7775294.915,532947.208,13.582,70.082386,27.866589,36.391510,0.005,0.011,1.3,...,2266,573259,2266,573261,13.54,13.79,13.641053,13.649705,19,0.066483
18,nuorgamchool7,7775298.293,532960.619,13.262,70.082415,27.866943,36.070897,0.005,0.011,1.3,...,2266,573316,2266,573319,13.19,13.43,13.314375,13.316593,16,0.065571
19,nuorgamchool6,7775293.908,532958.277,14.079,70.082376,27.866879,36.888788,0.006,0.013,1.3,...,2266,573298,2266,573300,14.04,15.33,14.494074,14.503138,27,0.360886
20,nuorgamchool1,7775288.735,532936.157,13.576,70.082332,27.866296,36.386226,0.005,0.012,1.3,...,2266,573198,2266,573201,13.56,19.71,14.028500,13.894574,20,1.306248
21,nuorgamchool3,7775292.913,532940.301,13.258,70.082369,27.866406,36.068643,0.005,0.011,1.3,...,2266,573239,2266,573242,13.12,13.41,13.273333,13.271717,18,0.079582
22,nuorgamchool2,7775288.560,532940.543,14.183,70.082330,27.866411,36.993443,0.006,0.012,1.3,...,2266,573217,2266,573221,13.79,14.28,14.076818,14.051519,22,0.131819
23,nuorgamchool13,7775298.443,532940.226,12.478,70.082419,27.866406,35.288114,0.005,0.011,1.3,...,2266,573441,2266,573443,12.10,12.58,12.346667,12.339387,18,0.142322
24,nuorgamchool12,7775296.990,532942.107,13.022,70.082405,27.866455,35.832042,0.005,0.011,1.3,...,2266,573421,2266,573423,12.90,13.13,13.020556,13.027194,18,0.062135
25,nuorgamchool15,7775294.749,532932.643,13.020,70.082386,27.866206,35.830915,0.005,0.011,1.2,...,2266,573524,2266,573526,12.83,13.08,12.978947,12.984756,19,0.061806
26,nuorgamchool14,7775294.444,532937.459,12.923,70.082383,27.866332,35.733090,0.005,0.011,1.2,...,2266,573502,2266,573504,12.76,13.30,12.944211,12.929182,19,0.133113
27,nuorgamchool9,7775300.432,532954.109,12.787,70.082435,27.866772,35.597051,0.005,0.011,1.3,...,2266,573357,2266,573359,12.51,12.93,12.738333,12.737581,18,0.090262
28,nuorgamchool8,7775300.924,532958.913,12.817,70.082438,27.866899,35.626058,0.005,0.011,1.3,...,2266,573336,2266,573339,12.60,12.86,12.740667,12.743417,15,0.069327
29,nuorgamchool11,7775300.758,532944.312,12.662,70.082439,27.866515,35.471997,0.005,0.011,1.3,...,2266,573402,2266,573404,12.52,12.68,12.593889,12.593994,18,0.045233
30,nuorgamchool10,7775299.774,532948.591,13.026,70.082429,27.866627,35.835527,0.005,0.011,1.3,...,2266,573381,2266,573384,12.97,13.12,13.051875,13.054479,16,0.047066

In [39]:
nuorgam_als = nuorgam_als.drop(columns=['Horizontal', 'VerticalSt', 'PDOP', 'StartGPSwe', 'StartGPSse', 'EndGPSweek', 'EndGPSseco'])

In [43]:
nuorgam_als = nuorgam_als.rename(columns={"SAMPLE_4": "IDW", "SAMPLE_6": "Stdev"})

In [45]:
nuorgam_als

,PointNo,Northing,Easting,Elevation,Latitude,Longitude,Height,HDOP,VDOP,NumberOfPo,NumberOfSa,Day,TSC3Time,TSC3UTC,SAMPLE_1,SAMPLE_2,SAMPLE_3,IDW,SAMPLE_5,Stdev
0,nuorgamchool21,7775281.244,532924.162,13.901,70.082266,27.865977,36.712001,0.5,1.1,4,25,17.6.2023,18:21:03.000,15:21:03,13.96,14.50,14.104783,14.091717,23,0.138120
1,nuorgamchool20,7775286.658,532928.271,13.251,70.082314,27.866088,36.062210,0.6,1.1,3,24,17.6.2023,18:20:43.000,15:20:43,13.26,13.47,13.332273,13.329917,22,0.051780
2,nuorgamchool23,7775299.913,532924.426,12.666,70.082434,27.865991,35.476537,0.5,1.1,4,25,17.6.2023,18:22:11.000,15:22:11,12.50,12.62,12.557500,12.551521,20,0.034040
3,nuorgamchool22,7775289.511,532919.718,12.776,70.082341,27.865864,35.587464,0.5,1.1,3,25,17.6.2023,18:21:30.000,15:21:30,12.54,12.82,12.696818,12.702224,22,0.073199
4,nuorgamchool17,7775301.575,532933.338,12.357,70.082448,27.866226,35.167106,0.5,1.1,4,25,17.6.2023,18:19:24.000,15:19:24,11.84,12.40,12.116111,12.126546,18,0.163814
5,nuorgamchool16,7775301.048,532932.769,12.697,70.082443,27.866211,35.507415,0.5,1.1,3,25,17.6.2023,18:18:55.000,15:18:55,12.15,12.73,12.482000,12.520504,20,0.166751
6,nuorgamchool19,7775291.658,532925.799,12.924,70.082360,27.866024,35.734533,0.5,1.1,3,25,17.6.2023,18:20:25.000,15:20:25,12.83,12.98,12.906500,12.905171,20,0.041985
7,nuorgamchool18,7775298.075,532927.587,12.819,70.082417,27.866074,35.629620,0.5,1.1,3,25,17.6.2023,18:19:58.000,15:19:58,12.70,12.87,12.790526,12.784147,19,0.041735
8,nuorgamchool29,7775303.736,532912.684,12.427,70.082470,27.865684,35.238141,0.5,1.1,4,27,17.6.2023,18:26:02.000,15:26:02,12.17,12.38,12.276000,12.272080,20,0.057741
9,nuorgamchool28,7775301.989,532918.210,12.658,70.082453,27.865829,35.468974,0.5,1.1,3,27,17.6.2023,18:25:32.000,15:25:32,12.46,12.61,12.540000,12.537677,20,0.035637
10,nuorgamchool31,7775294.162,532912.538,12.562,70.082384,27.865677,35.373808,0.5,1.1,3,27,17.6.2023,18:27:19.000,15:27:19,12.39,12.53,12.467647,12.469091,17,0.040370
11,nuorgamchool30,7775302.603,532907.726,12.445,70.082460,27.865553,35.256295,0.5,1.1,3,27,17.6.2023,18:26:41.000,15:26:41,12.18,12.36,12.284444,12.282815,18,0.052728
12,nuorgamchool25,7775306.213,532928.601,12.311,70.082490,27.866104,35.121243,0.5,1.1,4,25,17.6.2023,18:23:12.000,15:23:12,12.02,12.26,12.100526,12.095886,19,0.058891
13,nuorgamchool24,7775304.364,532926.276,12.490,70.082473,27.866042,35.300374,0.5,1.1,3,25,17.6.2023,18:22:40.000,15:22:40,12.26,12.42,12.354444,12.361678,18,0.040719
14,nuorgamchool27,7775301.180,532934.063,12.249,70.082444,27.866245,35.059835,0.5,1.1,3,26,17.6.2023,18:24:25.000,15:24:25,11.68,12.23,11.971579,11.976177,19,0.156248
15,nuorgamchool26,7775306.435,532929.901,12.181,70.082492,27.866138,34.991624,0.5,1.1,4,25,17.6.2023,18:23:36.000,15:23:36,11.71,12.24,11.940476,11.949708,21,0.161348
16,nuorgamchool5,7775297.442,532950.578,13.394,70.082408,27.866678,36.204099,0.6,1.1,3,25,17.6.2023,18:14:20.000,15:14:20,13.34,13.57,13.443333,13.440776,18,0.063857
17,nuorgamchool4,7775294.915,532947.208,13.582,70.082386,27.866589,36.391510,0.6,1.1,3,25,17.6.2023,18:14:02.000,15:14:02,13.54,13.79,13.641053,13.649705,19,0.066483
18,nuorgamchool7,7775298.293,532960.619,13.262,70.082415,27.866943,36.070897,0.6,1.1,4,25,17.6.2023,18:14:59.000,15:14:59,13.19,13.43,13.314375,13.316593,16,0.065571
19,nuorgamchool6,7775293.908,532958.277,14.079,70.082376,27.866879,36.888788,0.6,1.1,3,25,17.6.2023,18:14:41.000,15:14:41,14.04,15.33,14.494074,14.503138,27,0.360886
20,nuorgamchool1,7775288.735,532936.157,13.576,70.082332,27.866296,36.386226,0.6,1.1,4,25,17.6.2023,18:13:01.000,15:13:01,13.56,19.71,14.028500,13.894574,20,1.306248
21,nuorgamchool3,7775292.913,532940.301,13.258,70.082369,27.866406,36.068643,0.6,1.1,4,25,17.6.2023,18:13:43.000,15:13:43,13.12,13.41,13.273333,13.271717,18,0.079582
22,nuorgamchool2,7775288.560,532940.543,14.183,70.082330,27.866411,36.993443,0.6,1.1,5,25,17.6.2023,18:13:22.000,15:13:22,13.79,14.28,14.076818,14.051519,22,0.131819
23,nuorgamchool13,7775298.443,532940.226,12.478,70.082419,27.866406,35.288114,0.6,1.1,3,25,17.6.2023,18:17:04.000,15:17:04,12.10,12.58,12.346667,12.339387,18,0.142322
24,nuorgamchool12,7775296.990,532942.107,13.022,70.082405,27.866455,35.832042,0.6,1.1,3,25,17.6.2023,18:16:44.000,15:16:44,12.90,13.13,13.020556,13.027194,18,0.062135
25,nuorgamchool15,7775294.749,532932.643,13.020,70.082386,27.866206,35.830915,0.5,1.1,3,25,17.6.2023,18:18:27.000,15:18:27,12.83,13.08,12.978947,12.984756,19,0.061806
26,nuorgamchool14,7775294.444,532937.459,12.923,70.082383,27.866332,35.733090,0.5,1.1,3,25,17.6.2023,18:18:05.000,15:18:05,12.76,13.30,12.944211,12.929182,19,0.133113
27,nuorgamchool9,7775300.432,532954.109,12.787,70.082435,27.866772,35.597051,0.6,1.1,3,25,17.6.2023,18:15:40.000,15:15:40,12.51,12.93,12.738333,12.737581,18,0.090262
28,nuorgamchool8,7775300.924,532958.913,12.817,70.082438,27.866899,35.626058,0.6,1.2,4,25,17.6.2023,18:15:19.000,15:15:19,12.60,12.86,12.740667,12.743417,15,0.069327
29,nuorgamchool11,7775300.758,532944.312,12.662,70.082439,27.866515,35.471997,0.6,1.1,3,25,17.6.2023,18:16:25.000,15:16:25,12.52,12.68,12.593889,12.593994,18,0.045233
30,nuorgamchool10,7775299.774,532948.591,13.026,70.082429,27.866627,35.835527,0.6,1.1,4,25,17.6.2023,18:16:04.000,15:16:04,12.97,13.12,13.051875,13.054479,16,0.047066

## Compute RMSE, MAE, MAXE, R2

In [46]:
als_actual = nuorgam_als['Elevation'].values.tolist()

In [47]:
als_predicted = nuorgam_als['IDW'].values.tolist()

In [48]:
MSE = mean_squared_error(als_actual, als_predicted)
 
RMSE = math.sqrt(MSE)
print("Root Mean Square Error:\n")
print(RMSE)

Root Mean Square Error:

0.15590362770959978

In [49]:
MAE = mean_absolute_error(als_actual, als_predicted)

print("Mean Absolute Error:\n")
print(MAE)

Mean Absolute Error:

0.12122943913710642

In [50]:
# Compute max_error
MAXE = max_error(als_actual, als_predicted)

print("Maximum residual Error:\n")
print(MAXE)

Maximum residual Error:

0.42413764507590024

In [54]:
# Compute r2
R2 = r2_score(als_actual, als_predicted)

print("Coefficient of determination regression score:\n")
print(R2)

Coefficient of determination regression score:

0.9095920797335996